<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Outfit:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../index.css">

    <script src="./loading.js"></script>

</head>
<body>
    
    <div class="container-box">
        <div class="homeText" style="font-size: 40px; width: 400px;">
            <label for="name">Enter your name</label>
            <input class="nameField" id="name" type="text" placeholder="Your Name"> <br>
            <button id="startButton" disabled>Start Quiz!</button>
    
            <div class="loading-container">
                <p class="loading-text">Loading your quiz . . .</p>
                <div class="loader"></div>
            </div>
        </div>


    </div>

</body>
</html>